<div id="mark-complete-section">
    {% with action_name=completed|yesno:"complete,incomplete" button_name=completed|yesno:"Incomplete,Complete" %}
        <button type="button"
                hx-post="{% url 'courses:module_mark_complete' course_id module_id %}"
                hx-target="#mark-complete-section"
                hx-swap="outerHTML">
            Mark as {{ button_name }}
        </button>
        {% if show_message %}
            <ins>Module marked as {{ action_name }}.</ins>
        {% endif %}
    {% endwith %}
</div>
