{% extends "base.html" %}
{% block breadcrumbs %}
    {{ block.super }}
    <li>
        <a href="{% url 'courses:course_user_list' %}">My Courses</a>
    </li>
    <li>
        {{ course }}
    </li>
{% endblock breadcrumbs %}
{% block content %}
    <h1>
        {{ course }}
    </h1>
    {% if progress is not None %}
        <div class="grid">
            <sub>
                {{ progress }} out of {{ total_modules }} modules completed
            </sub>
            <sub>
                {{ progress_percentage|floatformat:2 }}% completed
            </sub>
        </div>
        <h2>
            <progress value="{{ progress }}"
                      max="{{ total_modules }}"></progress>
        </h2>
    {% endif %}
    <p>
        {{ course.description }}
    </p>
    <hr />
    <h2>
        Modules
    </h2>
    {% for module in modules %}
        <article>
            <header>
                <h2 id="module-{{ module.id }}">
                    {{ module }}
                </h2>
                {% if module.is_completed %}
                    <ins>Completed!</ins>
                {% endif %}
            </header>
            {{ module.description }}
            <footer>
                <a href="{% url 'courses:module_detail' course.id module.id %}">Start</a>
            </footer>
        </article>
    {% endfor %}
{% endblock content %}
