{% extends "base.html" %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    const get_svg = () => {
        $.ajax({
            type : "POST",
            url: "{% url 'visualizer' %}",
            data: {
            initial_balance : $('#id_initial_balance').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            dataType: "json",
            },

            success: function(data){
                console.log(data)
                $('#projection').html(data)
            },

            failure: function() {}
        });
    }

    $('#id_initial_balance').on('input', get_svg);
    $('#form').on('ready', get_svg);
    </script>
{% endblock head %}
{% block content %}
    <div id="form">{{ form.as_table }}</div>
    <div id="projection">{{ projection | safe }}</div>
{% endblock content %}
