{% extends "purchases_base.html" %}

{% block content %}
    <h1>
        Dashboard
    </h1>
    <div class="grid">
        <article>
            <header>
                <strong>Total Income</strong>
            </header>
            <strong>{{ total_income }} EUR</strong>
        </article>
        <article>
            <header>
                <strong>Total Sales</strong>
            </header>
            <strong>{{ total_sales }}</strong>
        </article>
        <article>
            <header>
                <strong>Courses With Sales</strong>
            </header>
            <strong>{{ distinct_courses|length }}</strong>
        </article>
        <article>
            <header>
                <strong>Total Enrollments</strong>
            </header>
            <strong>{{ total_enrollments }}</strong>
        </article>
    </div>

    <article>
        <header>
            <strong>Income by Course</strong>
        </header>
        <table>
            <thead>
                <tr>
                    <th scope="col">
                        <strong>Course</strong>
                    </th>
                    <th scope="col">
                        <strong>Income (EUR)</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for course_name, course_amount in distinct_courses.items %}
                    {% if course_amount > 0 %}
                        <tr>
                            <td>
                                {{ course_name }}
                            </td>
                            <td>
                                <sub>{{ course_amount }} EUR</sub>
                                <sub> ({% widthratio course_amount total_income 100 %}%)</sub>
                                <progress value="{{ course_amount }}"
                                          max="{{ total_income }}">
                                </progress>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </article>

{% endblock content %}
