{% extends "base.html" %}

{% block module_nav %}
    <h2>
        <a href="{% url 'courses:course_browse_list' %}">Browse Courses</a>
    </h2>
    <h2>
        <a href="{% url 'courses:course_purchased_list' %}">Purchased Courses</a>
    </h2>
    <h2>
        <a href="{% url 'courses:course_user_list' %}">My Courses</a>
    </h2>
{% endblock module_nav %}

{% block breadcrumbs %}
    <nav aria-label="Breadcrumbs">
        <ul>
            {% block breadcrumb_root %}
                <li>
                    <a href="{% url 'courses:course_browse_list' %}">Browse</a>
                </li>
            {% endblock breadcrumb_root %}
            {% block breadcrumb_items %}
            {% endblock breadcrumb_items %}
        </ul>
    </nav>
{% endblock breadcrumbs %}
