{% extends "base.html" %}

{% block module_nav %}
    <h2>
        <a href="{% url 'courses:course_browse_list' %}">Browse</a>
    </h2>
    <h2>
        <a href="{% url 'courses:course_purchased_list' %}">Purchased</a>
    </h2>
    <h2>
        <a href="{% url 'courses:course_published_list' %}">Published</a>
    </h2>
    <h2>
        <a href="{% url 'courses:course_recommendations_list' %}">Recommended</a>
    </h2>
{% endblock module_nav %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ul>
            {% block breadcrumb_items %}
            {% endblock breadcrumb_items %}
            <li>
                <u>{{ title }}</u>
            </li>
        </ul>
    </nav>
{% endblock breadcrumbs %}
