{% extends "base.html" %}
{% block breadcrumbs %}
    {{ block.super }}
    <li>
        <a href="{% url 'courses:course_user_list' %}">My Courses</a>
    </li>
    <li>
        <a href="{% url 'courses:course_detail' course_id=module.course.id %}">{{ module.course.name }}</a>
    </li>
    <li>
        {{ module.title }}
    </li>
{% endblock breadcrumbs %}
{% block content %}
    <h1>
        {{ module.title }}
    </h1>
    <hr />
    <section>
        {{ content }}
    </section>
    <hr />
    <section>
        <nav aria-label="Module navigation">
            <form>
                {% csrf_token %}
                <button type="submit"
                        formaction="{% url 'courses:module_mark_complete' course.id module.id %}"
                        formmethod="post">
                    {% if module.is_completed %}
                        Mark as Incomplete
                    {% else %}
                        Mark as Completed
                    {% endif %}
                </button>
            </form>
            <form method="get">
                <div role="group">
                    <button type="submit"
                            {% if previous_module %}
                                formaction="{% url 'courses:module_detail' course.id previous_module.id %}"
                            {% else %}
                                disabled
                            {% endif %}>
                        Previous
                    </button>
                    <button type="submit"
                            {% if next_module %}
                                formaction="{% url 'courses:module_detail' course.id next_module.id %}"
                            {% else %}
                                disabled
                            {% endif %}>
                        Next
                    </button>
                </div>
            </form>
        </nav>
    </section>
{% endblock content %}
