{% extends "superbase.html" %}

{% block nav %}
    <ul>
        <li>
            <h1>
                <a href="{% url 'home' %}">Toolspaedeia</a>
            </h1>
        </li>
        <li>
            <h1>
                <a href="{% url 'courses:course_browse_list' %}">Courses</a>
            </h1>
        </li>
    </ul>
    <ul>
        <li>
            <form>
                <button formaction="{% url 'users:preferences' %}"
                        formmethod="get"
                        type="submit"
                        data-tooltip="Settings"
                        data-placement="bottom">
                    <i class="fi fi-br-gears"></i>
                </button>
            </form>
        </li>
        <li>
            <form>
                {% csrf_token %}
                <button formaction="{% url 'users:logout' %}"
                        formmethod="post"
                        type="submit"
                        data-tooltip="Logout"
                        data-placement="bottom">
                    <i class="fi fi-br-power"></i>
                </button>
            </form>
        </li>
    </ul>
{% endblock nav %}
