{% extends "base.html" %}
{% block breadcrumbs %}
    {{ block.super }}
    <li>
        <a href="{% url 'courses:course_user_list' %}">My Courses</a>
    </li>
    <li>{{ course.name }}</li>
{% endblock breadcrumbs %}
{% block content %}
    <h1>{{ course.name }}</h1>
    {% if progress is not None %}
        <div class="grid">
            <sub>
                {{ progress }} out of {{ modules|length }} modules completed
            </sub>
            <sub>
                {{ progress_percentage|floatformat:2 }}% completed
            </sub>
        </div>
        <h2>
            <progress value="{{ progress }}" max="{{ modules|length }}"></progress>
        </h2>
    {% endif %}
    <p>{{ course.description }}</p>
    <hr />
    <h2>Modules</h2>
    {% if user_is_publisher %}
        <p>
            <a href="{% url 'courses:module_add' course.id %}">Add New Module</a>
        </p>
    {% endif %}
    {% for module in modules %}
        <article>
            <header>
                <h2 id="module-{{ module.id }}">{{ module }}</h2>
            </header>
            {{ module.description }}
            <footer>
                {% if user_is_publisher %}
                    <a href="{% url 'courses:module_update' course.id module.id %}">Edit</a>
                {% else %}
                    <a href="{% url 'courses:module_detail' course.id module.id %}">Start</a>
                {% endif %}
            </footer>
        </article>
    {% endfor %}
{% endblock content %}
