{% extends "base.html" %}
{% block content %}
    <h1>Courses</h1>
    {% for course in courses %}
        {% if forloop.first %}<hr />{% endif %}
        <article>
            <header>
                <h2>{{ course.name }}</h2>
            </header>
            {{ course.description }}
            <footer>
                <a href="{% url 'courses:course_detail' course.id %}">View Course Details</a>
            </footer>
        </article>
    {% empty %}
        <article>No courses available.</article>
    {% endfor %}
{% endblock content %}
