{% extends "base.html" %}
{% block breadcrumbs %}
    {{ block.super }}
    <li>
        <a href="{% url 'courses:course_user_list' %}">My Courses</a>
    </li>
    <li>
        <a href="{% url 'courses:course_detail' course.id %}">{{ course.name }}</a>
    </li>
    <li>
        Add Module
    </li>
{% endblock breadcrumbs %}
{% block content %}
    <h1>
        Add New Module
    </h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
            Add module
        </button>
    </form>
{% endblock content %}
