{% extends "base.html" %}
{% block breadcrumbs %}
    {{ block.super }}
    <li>
        <a href="{% url 'courses:course_user_list' %}">My Courses</a>
    </li>
    <li>
        <a href="{% url 'courses:course_detail' course_id=module.course.id %}">{{ module.course }}</a>
    </li>
    <li>{{ module }}</li>
{% endblock breadcrumbs %}
{% block content %}
    <h1>Edit Module "{{ module }}"</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div role="group">
            <button type="submit">Save</button>
            <button class="contrast"
                    type="delete"
                    formaction="{% url 'courses:module_delete' module.course.id module.id %}">Delete</button>
        </div>
    </form>
{% endblock content %}
