{% extends "base.html" %}
{% block breadcrumbs %}
    {{ block.super }}
    <li>My Courses</li>
{% endblock breadcrumbs %}
{% block content %}
    <h1>Purchased Courses</h1>
    {% for course in courses %}
        {% if forloop.first %}<hr />{% endif %}
        <article>
            <header>
                <h2>{{ course.name }}</h2>
            </header>
            {{ course.description }}
            <footer>
                <a href="{% url 'courses:course_detail' course.id %}">View Course Details</a>
            </footer>
        </article>
    {% empty %}
        <article>No courses purchased yet.</article>
    {% endfor %}
    <h1>Published Courses</h1>
    <hr />
    {% for course in published_courses %}
        <article>
            <header>
                <h2>{{ course.name }}</h2>
            </header>
            {{ course.description }}
            <footer>
                <a href="{% url 'courses:course_detail' course.id %}">Edit Course</a>
            </footer>
        </article>
    {% empty %}
        <article>No courses published yet.</article>
    {% endfor %}
{% endblock content %}
